@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #2d2d2d;
}
.principal{
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 40px;
}
button {
  background: #5162ff;
  border-radius: 10px;
  font-size: 20px;
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover{
  background: #fd9d26;
  color: #000;
}

img{
  width: 256px;
  border-radius: 128px;
  margin: 10px
}

.opcoes{
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

select,label {
  background-color: transparent;
  padding: 15px;
  margin: 10px;
  font-size: 20px;
}
